{% extends 'base.html.twig' %}

{% block body %}
<div class="messages-list col-4">
    <div class="container my-3">
        {% if conversation is defined %}
            <a  class="btn btn-primary" href="{{ path("conversation_browse") }}">Liste des Conversations</a>
            <a class="btn btn-success" href="{{ path("messages_ping", {'id' : conversation.id}) }}">Ping Mercure (EventSource)</a>
            <h2>Conversation : {{ conversation.name }}</h2>
        {% endif %}
    </div>

    <div class="container">
        {% if conversation is defined %}
            <a class="btn btn-primary" href="{{ path("messages_add", {'id' : conversation.id}) }}">Ajouter un message</a>
        {% endif %}
        {% for key, message in messages %}
            <div class="message-content">
                <p>{{ message.getUser.username }} - {{ message.content }}</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
