{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user %}
        <div class="connected-user">
            <p>Connecté en tant que : {{ app.user.getUsername }} <a  class="btn btn-danger" href="{{ path("app_logout") }}">Déconnexion</a></p>
        </div>
    {% endif %}
    <h2>Liste des groupes de conversations :</h2>
    <div class="messages-list col-12">
        <div class="container my-3">
            <a  class="btn btn-primary" href="{{ path("conversation_add") }}">Créer une conversation</a>
            <a  class="btn btn-success" href="https://jwt.io/?token={{ jwt }}" target="_blank">Check JWT sur jwt.io </a>
        </div>

        <div class="container">
            <ul class="list-group">
                {% for key, conversation in conversations %}
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="col-6">
                            <a href="{{ path("messages_browse", {'groupConversation' : conversation.id}) }}">[{{ conversation.id }}] - {{ conversation.name }}.</a>
                        </div>
                        <div class="col-2">
                            <span class="badge bg-primary rounded-pill">messages : {{ conversation.messages|length }}</span>
                        </div>
                        <div class="col-2">
                            <span class="badge bg-info rounded-pill">membres : {{ conversation.users|length }}</span>
                        </div>
                        <div class="col-2">
                            <span class="badge {{ conversation.private ? 'bg-danger' : 'bg-success' }} rounded-pill"> {{ conversation.private ? 'privé' : 'public' }}</span>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>

    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type='application/javascript'></script>
{% endblock %}
